/* .main-card {
  width: 60%;
  height: 80vh;
  background-color: aliceblue;
} */
/* mobile */
@media (max-width: 768px) {
  .style-main-img {
    max-height: 250px;
  }
}
/* tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  .style-main-img {
    /* width: 100%; */
    height: 550px;
  }
}
/* desktop */
@media (min-width: 1024px) {
  .style-main-img {
    height: 550px;
  }
  .main-card {
    width: 60%;
    height: 80vh;
  }
}
