

/* mobile */
@media only screen and (max-width: 600px) {
    .scrollCards {
        overflow: hidden;
        height: 100vh;
   
    }
}
  
/* desktop */
@media (min-width: 1024px) {
    .scrollCards {
      overflow-y: scroll;
      float: right;
      right: 0;
      height: 80vh;
      width: 100%;
    }
  }